# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment variables
.env
.env.local
.env.*

# Dependencies
node_modules/
package-lock.json

# Build files
/build
/dist

# Logs
*.log
npm-debug.log*
